body {
  background: #ccc;
}

.parafake {

  background: white;
  box-shadow: 3px;
  padding: 30px;

}

.parafake h2 { margin: 0 }

.parafake .controls {
  display: flex;
  align-content: end;
}

.parafake p {
  font-style: italic;
  font-size: 90%;
}

.parafake button {
  border: 0px;
  box-shadow: 5px;
  background: #55F;
  color: white;
}

.parafake span {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 5px;
  border: 1px solid #000;
  background: white;
  transition: background-color 50ms ease-in
}

.parafake span.loading {
  background: #777;
}
.parafake span.received {
  background: #363;
}
.parafake span.warmed {
  background: #990;
}
.parafake span.pushed {
  background: #336;
}
.parafake span.fresh {
  background: #939;
}
.parafake span.error {
  background: #933;
}
.parafake span.compound {
  background: #3A3;
}
