body {
  background: #ccc;
}

.parafake {

  background: white;
  padding: 10px;
  box-shadow: 5px 5px 40px #0007;
  margin-bottom: 10px;
}

.parafake h3 {
  margin: 0 0 10px 0;
}

.parafake .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.parafake p {
  font-style: italic;
  font-size: 90%;
  margin: 0;
}

.parafake button {
  border: 0px;
  box-shadow: 5px 5px 40px #0007;
  background: #2B4ED9;
  color: white;
  font-size: 120%;
  padding: 3px 10px;
  border-radius: 2px;
}

.parafake span {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 5px;
  border: 1px solid #000;
  background: white;
  transition: background-color 50ms ease-in
}

.parafake .blocks span {
  float: left;
}

.parafake .blocks span:first-child {
  width: 60px;
  height: 60px;
}

.parafake .blocks:after {
  clear: both;
  display: block;
  content: "";
}

.parafake span.loading {
  background: #bbb;
}
.parafake span.received {
  background: #363;
}
.parafake span.warmed {
  background: #990;
}
.parafake span.pushed {
  background: #336;
}
.parafake span.fresh {
  background: #939;
}
.parafake span.error {
  background: #933;
}
.parafake span.compound {
  background: #3A3;
}
