body {
  background: #ccc;
  font-family: sans-serif;
}

table tr:nth-child(even) {
  background: #ddd;
}
table tr:nth-child(odd) {
  background: #bbb;
}

table td {
  padding: 4px;
}

#items {
  max-width: 1000px;
}

span {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 5px;
  border: 1px solid #000;
  background: white;
}

span.received {
  background: #363;
}
span.warmed {
  background: #990;
}
span.pushed {
  background: #336;
}
span.fresh {
  background: #939;
}
span.error {
  background: #933;
}
span.compound {
  background: #3A3;
}
